

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: mediumvioletred;
    height: 50px;
    padding: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 40px;
}

footer{
    background-color: mediumvioletred;
    height: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 95vh;
}

img{
    display: flex;
    flex-direction: column;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f2d0e0;
    flex-grow: unset;
}

main{
    display: flex;
}

section{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    background-color: #f2d0e0;
}

a{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: black;  
    background-color: #f2d0e0;
}
p{
    background-color: cadetblue;
    display: flex;
    flex-grow: inherit;
    height: 615px;
    margin-top: 0;
    /* align-items: center; */
    justify-content: center;
}