
/* ////////////ESTILOS ALEATÓRIOS///////////// */




p{
    margin:0;
    background-color: aqua;
    
}

/* {
    background-color:
} */


/* ohmy */
/* 
/////////////////ESTILO HOME///////////////////// */
.estilo-rodape{
    text-align: center;
    margin-top: 30px;
}

.botoes{

}

#estilo-botao-principal{
    width: 700;
    height: 350px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* /////////////////ESTILO GALERIA///////////////////
/////////////////ESTILO CONTATO//////////////////// */